body
{
  font-family: 'Inter', Roboto, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-style: bold;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
}

a
{
  text-decoration: none;
}

ul
{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p
{
  margin: 0px;
  padding: 0px;
}

h1,h2
{
  margin: 0px;
}