main 
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
  flex-direction: column;
}

                                          /* Hero Section */

.hero-section 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 2100px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.welcome-container 
{
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width:1700px;
  width: 100%;
  margin-bottom: 40px;
}

.welcome-header-text 
{
  font-size: clamp(24px, 4vw, 75px);
  font-weight: 600;
  padding-right: 10px;
}

.welcome-header-descrp-text 
{
  font-size: clamp(12px, 1.2vw, 26px);
  font-weight: 600;
  padding-left: 10px;
}

.welcome-video-container 
{
  max-width: 2100px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 80px;
}

.welcome-video
{
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
}


                                          /* Sectioon GetKnow iPhone  */

            

.iphone-gallery-section
{
  display: flex;
  flex-direction: column;
  align-items:center;
  max-width: 2200px;
  width: 100%;
  padding-right: 20px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.gallery-header-container
{
  display: flex;
  flex-direction: row;
  justify-content: start;  
  max-width: 1700px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  unicode-bidi: isolate;
}

.gallery-image-text
{
  font-size: clamp(24px, 3vw, 50px);
  font-weight: 600;
  padding-left: 20px;
}

.gallery-image-container
{
  width: 100%;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 10px;
}

.gallery-images-row 
{
  max-width: 2400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

.gallery-images-row::-webkit-scrollbar
{
  display: none;
}

.gallery-image
{
  max-width: 300px;
  height: 500px;
  width: auto;
  border-radius: 30px;
  object-fit: cover;
}

.gallery-image-container li
{
  position: relative;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.about-gallery-image
{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  color: white;
  padding-right: 15px;
}

.about-gallery-header
{
  font-size: clamp(14px,1.5vw,14px);
  margin-bottom: 12px;
}

.about-gallery-about
{
  font-size: clamp(19px,1.5vw,22px);
  line-height: 22px;
  font-weight: 600;
}

.about-gallery-font-color
{
  color: black;
}


                                              /* Explore line up */

.product-line-up
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  background-color: #f5f5f7;
  padding-bottom: 40px;
}

.product-line-up-header
{
  max-width: 1700px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 40px;
}

.product-line-up-header h2
{
  font-size: clamp(24px, 3vw, 50px);
  font-weight: 600;
  padding-left: 20px;
  padding-right: 5px;
}

.product-line-up-header div
{
  font-size: clamp(8px, 3vw, 12px);
  font-weight: 400;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 5px;
  color: rgb(0,113,227);
  cursor: pointer;
}

.product-info-container
{
  display: flex;
  flex-direction: row;
  max-width: 1420px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.product-card-containers
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.product-card
{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 340px;
}

.product-image-container
{
  height: 200px;
  margin-bottom: 15px;
}

.product-card-image
{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-color-choice
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  gap: 5px;
}

.item-color-choice li
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0; 
}

.item-color-choice .desert-titanium
{
  background-color: rgb(191 164 143);
}

.item-color-choice .natural-titanium
{
  background-color: rgb(194 188 178);
}

.item-color-choice .white-titanium
{
  background-color: rgb(247 246 242);
}

.item-color-choice .black-titanium
{
  background-color: rgb(60 60 61);
}


.product-info-container h3
{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.product-card-price-info 
{
  font-weight: 600;
  margin-bottom: 20px;
}

.card-more-info-row
{
  max-width:110px;
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
  margin-bottom: 20px;
}

.card-more-info-row-more 
{
  border-style: none;
  background-color: rgb(0,113,227);
  padding: 8px 12px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.card-more-info-row-buy
{
  color: rgb(0,113,227);
  cursor: pointer;
}

.divider
{
  border: 1px solid rgba(115, 107, 107, 0.353);
  width: 100%;
  margin-bottom: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.apple-intelligence-icon-container
{
  display: inline-block;
  max-width: 20px;
  max-height: 20px;
  margin-bottom: 20px;
}

.apple-intelligence-icon
{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.apple-intelligence-icon-info li
{
  font-size: 10px;
  text-size-adjust: none;
  line-height: 23px;
}

.product-tile-plus-null
{
  font-size: 21px;
  font-weight: 600px;
  line-height: 30px;
}

.phone-stats-container
{
  margin-bottom: 30px;
}

.item-color-choice .ultramarine
{
  background-color: rgb(148 165 235);
}

.item-color-choice .teal
{
  background-color: rgb(171 207 205);
}

.item-color-choice .pink
{
  background-color: rgb(237 168 213);
}

.item-color-choice .white
{
  background-color: rgb(238, 236, 236);
}

.item-color-choice .black
{
  background-color: rgb(53 57 59);
}

.item-color-choice .yellow
{
  background-color: rgb(236 230 198);
}

.item-color-choice .green
{
  background-color: rgb(207 217 201);
}

.item-color-choice .blue
{
  background-color: rgb(213 221 224);
}

.product-card-containers::-webkit-scrollbar
{
  display: none;
}

                                                /* why best phone section */
        
                                                
.best-phone-container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 247);
  padding-top: 40px;
  padding-bottom: 200px;
}    

.best-phone-header-wrapper
{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  max-width: 1700px;
  width: 100%;
  margin-bottom: 50px;
}

.best-phone-header-text
{
  font-size: clamp(24px, 3vw, 50px);
  font-weight: 600;
  padding-left: 20px;
  padding-right: 5px;
}

.best-phone-header-info
{
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 400;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 5px;
  color: rgb(0,113,227);
}

.best-phone-wrapper
{
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.best-phone-card-container
{
  max-width: 1900px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
}

.best-phone-card-container::-webkit-scrollbar
{
  display: none;
}

.best-phone-card
{
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  width: 300px;
  height: 250px;
  flex: 0 0 300px;
}

.best-phone-image-container
{
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-phone-image
{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.best-phone-card h3
{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: clamp(14px,3vw,18px);
}

.best-phone-card p
{
  font-size: clamp(12px,1.5vw,14px);
  line-height: 22px;
}

.best-phone-add-button
{
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(29,29,31);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}

.add-symbol
{
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 500;
  left: 4.5px;
  bottom: 1.5px;
}

                                                  /* Essential section */


.essential-container
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}  

.essential-header-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  max-width: 1700px;
  width: 100%;
  margin-bottom: 50px;
}

.essential-header-text
{
  font-size: clamp(24px, 3vw, 50px);
  font-weight: 600;
  padding-left: 20px;
  padding-right: 5px;
}

.essential-header-info
{
  cursor: pointer;
  font-size: clamp(10px, 3vw, 12px);
  font-weight: 400;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 5px;
  color: rgb(0,113,227);
  cursor: pointer;

}


.essential-card-wrapper
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
  margin-bottom: 50px;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-left: 30px;
  padding-right: 30px;
  flex-wrap: nowrap;
}

.essential-card-containers
{
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(245, 245, 247);
  padding: 40px 0px 0px;
  border-radius: 25px;
  overflow: hidden;
}

.essential-card-containers h3
{
  font-size: clamp(20px,3vw,24px);
  font-weight: 600;
  margin-bottom: 15px;
}

.essential-card-containers p
{
  font-size: clamp(12px,1.5vw,14px);
  line-height: 20px;
  margin-bottom: 15px;
}

.essential-card-containers a
{
  font-size: clamp(12px, 1.5vw, 14px);
  font-weight: 450;
  color: rgb(0,113,227); 
  cursor: pointer;
  margin-bottom: 18px;
}

.essential-card-image-container
{
  max-width: 700px;
  width: 100%;
  max-height: 350px;
  height: 100%; 
}

.essential-card-image
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.essential-card-wrapper::-webkit-scrollbar
{
  display: none;
}



                                              /* Significant others section */


.significant-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1700px;
  width: 100%;
  padding-right: 30px;
  padding-left: 25px;
  padding-bottom: 150px;
}      

.significant-header-container
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  margin-bottom: 50px;
}

.significant-header-text
{
  font-size: clamp(24px, 3vw, 50px);
  font-weight: 600;
  padding-right: 5px;
}

.significant-info-wrapper
{
  display: grid;
  align-items: center;
  grid-template-columns: 400px 1fr;
  max-width: 1450px;
  width: 100%;
  background-color: #f5f5f7;
  padding: 50px 40px 50px 60px;
  border-radius: 20px;
  column-gap: 10px;
}

.significant-info-cards-container
{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 400px;
}

.significant-info-card-para-text
{
  font-size: clamp(10px,1vw,12px);
  line-height: 20px;
  margin-bottom: 20px;
}

.significant-info-card
{
  max-width: 300px;
  width: 100%;
  text-align: start;
}

.significant-info-card-header
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.significant-info-card-header h3
{
  font-size: clamp(20px,3vw,24px);
  font-weight: 600;
  margin-bottom: 15px; 
}

.significant-info-card-header div
{
  font-size: clamp(20px,3vw,24px);
  font-weight: 600;
  margin-bottom: 15px; 
  color: gray;
  font-style: normal;
  cursor: pointer;

}

.significant-info-card-image-container
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
}

.significant-info-card-image
{
  width: 1000px;
  object-fit: cover;
  flex-shrink: 0;
  object-position: left;
}

@media(max-width:441px)
{
  .significant-info-wrapper
  {
    display: grid;
    grid-template-columns: 1fr;
  }

  .significant-info-cards-container
  {
    display: grid;
    grid-template-columns: 1fr;
  }

  .significant-info-card-image
  {
    height: auto;
    object-fit: cover;
  }
}


                                                /* Iphone Index Group */


.iphone-index-container
{
  width: 100%;
  padding-top: 150px;
  background-color: #fafafc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
  padding-left: 30px;
  padding-right: 30px;
}

.iphone-index-header-container
{
  margin-bottom: 50px;
  max-width:1700px;
  width: 100%;
}

.iphone-index-info-wrapper
{
  display: flex;
  flex-direction: row;
  max-width:1700px;
  width: 100%;
  padding-left: 15px;
  justify-content: flex-start;
  align-items: start;
}

.iphone-index-info-group
{
  max-width: 300px;
  width: 100%;
}

.iphone-index-header-text
{
  font-size: clamp(24px, 3vw, 50px);
  font-weight: 600;
  padding-left: 15px;
  padding-right: 5px;
}

.iphone-index-info-header1
{
  font-size: clamp(16px,3vw,20px);
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 36px;
  color: gray;
}

.iphone-index-info-header2
{
  font-size: clamp(16px,3vw,20px);
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 36px;
  color: black;
}


.iphone-index-info-container1
{
  font-size: clamp(22px,3vw,24px);
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 40px;
  cursor: pointer;
}

.iphone-index-info-container2
{
  font-size: clamp(16px,3vw,20px);
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 36px;
  cursor: pointer;
}


